.header {
  background-color: #89EEC0;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header .navbar-local {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.header .nav-local {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

#main {
  margin-top: 5rem;
}

.carousel .carousel-inner {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-destac {
  margin: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.title-destac hr {
  color: #009753;
}

.prod-destac {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 0 25px 0 25px;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}
.card h5 {
  font-family: Arial, Helvetica, sans-serif;
}
.card .card-text {
  opacity: 20%;
}
.card .btn-local {
  background-color: #A9EECF !important;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}
.card .price {
  opacity: 90%;
}
.card .d-img {
  height: 400px;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.title-prod {
  margin: 3rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 5rem;
}
.title-prod hr {
  color: #009753;
}

.container-l {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.container-l ul {
  list-style-type: none;
}

#aside-product {
  margin-top: 2.5rem;
  padding: 2rem;
}
#aside-product h4 {
  text-align: center;
}
#aside-product .menu-prod {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#aside-product .menu-prod .btn-categoria {
  border-radius: 0.3rem;
  padding: 1px;
  border: none;
  background-color: #A9EECF;
  color: #4A4A4A;
}
#aside-product .menu-prod .btn-categoria:hover {
  background-color: #A0E9C9;
  color: gray;
}

.container-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-right: 50px;
}
.container-product .product-img {
  max-width: 100%;
}
.container-product .product-detal {
  background-color: #A0E9C9;
  color: white;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: -1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  color: black;
}
.container-product .product-title {
  font-size: 1.2rem;
}
.container-product .descrip {
  font-size: 0.8rem;
  opacity: 50%;
}
.container-product .price {
  font-size: 1rem;
}
.container-product .product-btn {
  border: 0;
  background-color: white;
  color: #75C5B5;
  padding: 0.25rem;
  border: 1px solid;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.8rem;
}
.container-product .product-btn:hover {
  background-color: azure;
  color: #009753;
}

.title-gdt {
  margin: 3rem;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}
.title-gdt hr {
  color: #009753;
}

.txt-gdt P {
  text-align: center;
  font-family: sans-serif;
  opacity: 40%;
  margin-bottom: 2rem;
}

.remera-talle p {
  text-align: center;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3rem;
}

.tabla {
  display: flex;
  justify-content: center;
}

.table-style {
  text-align: center;
  border-collapse: collapse;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 80%;
}
.table-style thead {
  background-color: #75C5B5;
}
.table-style thead tr {
  color: aliceblue;
  text-align: center;
}
.table-style th,
.table-style td {
  padding: 12px 15px;
}

.title-cto {
  margin: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.title-cto hr {
  color: #009753;
}

.txt-cto p {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  color: #1D553D;
}

.cto-txt {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 100px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.cto-txt i {
  color: #1D553D;
}

.form-map {
  display: flex;
  justify-content: space-around;
}
.form-map iframe {
  width: 600px;
  height: 300px;
}

.form-cto input {
  width: 300px;
  margin-bottom: 15px;
}
.form-cto textarea {
  width: 500px;
  margin-bottom: 15px;
}

.btn-cto {
  background-color: #A9EECF;
  padding: 2px;
  border: solid 1px #75C5B5;
  border-radius: 10px;
  color: #4A4A4A;
}

.btn-cto:hover {
  background-color: #D0F9E7;
  color: #1D553D;
}

.title-cta {
  margin: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.title-cta hr {
  color: #009753;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
.formulario form {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.formulario form .title-login {
  color: #252525;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formulario form label {
  margin-bottom: 35px;
}
.formulario form label .fa-solid {
  font-size: 20px;
  color: #A9EECF;
  margin-right: 10px;
}
.formulario form label input {
  outline: none;
  border: none;
  color: #252525;
  border-bottom: solid 1px #A9EECF;
  padding: 0 5px;
  font-size: 18px;
  padding: 0 5px;
  font-size: 18px;
}
.formulario form .link {
  color: #252525;
  margin-bottom: 15px;
}
.formulario form .button {
  color: white;
  border: none;
  background: #A9EECF;
  padding: 10px 15px;
  font-size: 20px;
}
.formulario form .link-2 {
  color: #252525;
}
.formulario form .creAR-cuenta {
  margin-top: 15px;
}

#footer {
  width: 100%;
  background-color: #A9EECF;
  text-align: center;
  margin-top: 12rem;
}
#footer .g-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
#footer .g-1 h2 {
  color: #002D19;
  margin-bottom: 25px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
}
#footer .g-1 img {
  width: 35px;
  height: 20px;
}
#footer .g-1 a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  background-color: #75C5B5;
  text-align: center;
  transition: all 300ms ease;
}
#footer .g-1 a:hover {
  color: #297E6D;
}
#footer .g-1 p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 50%;
}
#footer .g-2 {
  background-color: #D0F9E7;
  padding: 5px;
  text-align: center;
  color: #1D553D;
}
#footer .g-2 small {
  font-size: 10px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body {
  background: #A9EECF;
  background: -webkit-linear-gradient(to right, #D3EAE5, #A9EECF);
  background: linear-gradient(to right, #D3EAE5, #A9EECF);
}

/*# sourceMappingURL=style.css.map */
