%orden1 {
    display: flex;
    flex-direction: column;
}

%orden2 {
    display: flex;
    justify-content: center;
}

%t-center {
    text-align: center;
}

%transform {
    text-transform: uppercase;
}