$colores:
#002D19
#009753
#297E6D
#89EEC0
#A9EECF
#A0E9C9
#75C5B5
#D0F9E7
#252525
#4A4A4A
#909090
#ffff
#f0f8ff;

$size:
1px
3px
4px
5px
10px
15px
20px
25px
30px
40px
50px
80px
100px
200px
300px
400px
500px;

$font-f:  
sans-serif
Arial, Helvetica, sans-serif
Verdana, Geneva, Tahoma, sans-serif
Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
