.title-gdt {
    margin: nth($size, 10);
    font-family: nth($font-f, 1);
    @extend %transform;
    font-size: nth($size, 8);
    hr {
        color: nth($colores , 2);
    }
}

.txt-gdt {
    P {
        @extend %t-center;
        font-family: nth($font-f, 1);
        opacity: 40%;
        margin: nth($size, 10);
    }
}

.remera-talle {
    p {
        @extend %t-center;
        font-size: nth($size, 7);
        font-family: nth($font-f, 3);
        margin-top: nth($size, 10);
    }
}

.tabla {
    @extend %orden2;
}

.table-style {
    @extend %t-center;
    border-collapse: collapse;
    font-size: nth($size, 6);
    font-family: nth($font-f, 2);
    min-width: nth($size, 16);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80%;
    thead {
        background-color: nth($colores, 7);
        tr {
            color: nth($colores, 13);
            text-align: center;
        }
    }
    th,
    td {
        padding: nth($size, 5) nth($size, 6);
    }
}

@media (max-width:768px) {
    .title-gdt {
        text-align: center;
    }
    .table-style {
        min-width: nth($size, 15);
    }
}

