.header {
    background-color: #89EEC0;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    .navbar-local {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .nav-local {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        font-size: 15px;
    }
}
  
  
