.header {
    background-color: map-get($mIheader, bg-c);
    height: map-get($mIheader, hgt);
    width: map-get($mIheader, wdh);
    position:map-get($mIheader, pst);
    top: map-get($mIheader, tp);
    z-index: map-get($mIheader, z-idx);
    .navbar-local {
        font-family: nth($size, 7);
    }
    .nav-local {
        font-family: nth($size, 5);
        @extend %transform;
        font-size: nth($size, 6);
    }
}
  
  
