.title-prod {
    margin: nth($size, 10);
    font-family: nth($font-f, 1);
    @extend %transform;
    font-size: nth($size, 8);
    margin-top: nth($size, 12);
    hr {
        color: nth($colores , 2);
    }
}

.container-l {
    display: grid;
    grid-template-columns: 1fr 4fr;
    ul {
        list-style-type: none;
    }
    #aside-product {
        margin-top: nth($size, 12);
        padding: nth($size, 4);
        h4 {
            @extend %t-center;
        }
        .menu-prod {
            @extend %orden1;
            gap: nth($size, 5);
            .btn-categoria {
                @include cM (#A9EECF, #4A4A4A, 1px);
                border-radius: nth($size, 4);
                border: none;
            }
            .btn-categoria:hover {
                color: nth($colores, 11) ;
            }
        }
    }

    .container-product {
        display: grid;
        grid-template-columns: repeat(4 ,1fr);
        gap: nth($size, 8);
        margin-right: nth($size, 8);
        .product-img {
            width: 100%;
            height: 70%;
        }
        .product-detal {
            @extend %orden1;
            @include cM (#89EEC0, #ffff, 5px);
            border-bottom-left-radius: nth($size, 5);
            border-bottom-right-radius: nth($size, 5);
            position: relative;
            gap: nth($size, 1);
            @extend %t-center;
            color: nth($colores, 9);
        }
        .product-title {
            font-size: nth($size, 8);
        }
        .descrip {
            font-size: nth($size, 6);
            opacity: 50%;
        }
        .price {
            font-size: nth($size, 7);
        }
        .product-btn {
            @include cM (0, #75C5B5, 5px);
            border: 0;
            border: nth($size, 1) solid;
            border-radius: nth($size, 5);
            @extend %transform;
            font-family: nth($font-f, 5);
            font-size: nth($size, 5);
        }
        .product-btn:hover {
            background-color: nth($colores, 12);
            color: nth($colores, 2);
        } 
    }
}

@media (max-width:768px) {
    .title-prod {
        text-align: center;
    }
    .container-l {
        display: flex;
        flex-direction: column;
        align-items: center;
        #aside-product {
            margin-top: nth($size, 6);
            padding: 0;
        }
        .container-product {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: nth($size, 8) nth($size, 8);
            .product-img {
                width: 100%;
                max-height: 60%;
            }
            .product-title {
                font-size: nth($size, 7);
            }
        }
    }
}      

